.card {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    /* box-shadow: 7px 13px 29px -14px rgba(0, 0, 0, 0.4); */
    display: flex;
}

.card img {
    /* width: 100%;
    height: auto; */

    width: auto;
    height: 100%;
}

.small {
    width: 10%;
    height: 10%;
}

.big {
    width: 20%;
    height: 20%;
}

.bigger {
    width: 30%;
    height: 30%;
}

.center {
    align-items: center;
    justify-content: center;
}