.side-bar {
    top: 0;
    position: sticky;
    min-width: 20%;
    /* width: 200px; */
    height: 100vh;

    font-size: 24px;
    /* font-weight: 400; */

    display: flex;
    flex-flow: column;
    justify-content: space-between;
  
    background-color: rgb(95, 168, 144);
}

.side-bar-item {
    width: 100%;
    padding: 20px;
}

.side-bar .utils {
    margin-top: auto;
}

.side-bar .utils span{
    font-size: 40px;    
}

.side-bar-item.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}